.connect-wallet{
    background: linear-gradient(180deg, #0095DA 0%, #16A9ED 31.7%, #066F9F 100%);
    border-radius: 18px;
    color: white;
    outline: none;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    position: fixed;
    left: 89%;
    margin: 10px 5px 0 0;
}
.create-task{
    position: fixed;
    right: -0.5%;
    bottom: 5%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.create-task img{
    height: 30px;
}
.create-task img:hover{
    height: 35px;
}